.auth {
  width: 100%;
  min-height: inherit;
  background: url("/images/website/hero.jpg") no-repeat;
  background-position: top right;
  background-size: cover;
  overflow: hidden;

  &_wrapper {
    width: 50rem;
    height: auto;
    padding: 2rem;
    background: $white;
    margin: 10rem auto;
    border-radius: 2px;
    box-shadow: $box-shadow;
    position: relative;

    &_banner {
      width: 90%;
      height: 4rem;
      background: $green-dark;
      border-radius: 3px;
      box-shadow: $box-shadow;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;

      &_title {
        font-size: 1.8rem;
        text-transform: uppercase;

        & i {
          margin: 0 1rem;
        }
      }
    }

    &_form {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
  }
}

// Media Queries
@media only screen and (max-width: 596px) {
  .auth_wrapper {
    width: 90%;
  }
}
