.d_projects {
  width: 100%;
  height: auto;
  overflow: auto;
  padding: 0 0 2rem 0;

  &::-webkit-scrollbar {
    width: 100%;
    height: 1rem;
    background: $input-back;
  }

  &::-webkit-scrollbar-thumb {
    background: $green-dark;
    border-radius: 10rem;
  }

  &_col {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    width: 100%;
    height: 4rem;

    & i {
      margin-right: 0.8rem;
      font-size: 1.3rem;
    }
  }
}

table {
  width: 100%;
  overflow: auto;
}

th {
  background: $green;
  color: $white;
  box-shadow: 0px 2px 2px #cccccc;
  font-weight: 400;
}

tr {
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
}

tr:hover {
  box-sizing: border-box;
  box-shadow: 0px 2px 1px #cccccc;
}

.d_action {
  border-radius: 50%;
  color: $green;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:hover {
    background: $silver;
  }
}

.d_action:first-child {
  padding: 1rem 1.2rem;
  margin-right: 2rem;
}

.d_action:last-child {
  padding: 1rem;
}
