.top_navbar_pro_icon {
  background: $silver;
  border-radius: 50%;
  width: 3.2rem !important;
  height: 3.2rem !important;
}

.openSupporter {
  display: block !important;
}

.dropdown-icon {
  position: absolute;
  right: 2rem;
  top: 1rem;
  font-size: 1rem !important;
  transition: all 0.4s ease-in-out;
}

.rotateDropDownIcon {
  transform: rotate(180deg);
}

.openSidebar {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.scroll_down {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  overflow: hidden;
  color: $white;

  &_inner {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-style: italic;
    line-height: 1rem;
    animation: scroll 2s ease-in-out infinite;

    &_title {
      margin-bottom: 0.5rem;
    }
  }
}

@keyframes scroll {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.project_navbar {
  color: $green;
  font-weight: 700;
}

.ov {
  overflow: visible;
}

.pt-3 {
  padding-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.p-2 {
  padding: 2rem;
}
