.side_navbar {
  width: 24rem;
  height: 100vh;
  overflow: auto;
  background: $app-theme;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: $box-shadow;
  transition: all 0.4s ease-in-out;

  &_header {
    width: 100%;
    height: 6rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &_logo {
      display: flex;
      overflow: hidden;
      align-items: center;

      &_brand {
        font-size: 2rem;
        letter-spacing: -1px;
        font-weight: 700;
        padding: 0 1rem;
        border-radius: 10rem;
        border-left: 3px solid $white;
        border-right: 3px solid $white;
      }
    }
  }

  &_search {
    width: 100%;
    height: 4rem;
    overflow: hidden;
    border-top: 1px solid $hr;
    border-bottom: 1px solid $hr;

    &_input {
      width: 100%;
      height: 4rem;
      background: transparent;
      padding: 0 2rem;
      color: $white;

      &::-webkit-input-placeholder {
        color: $white;
      }

      &::-moz-placeholder {
        color: $white;
      }

      &:-ms-input-placeholder {
        color: $white;
      }

      &:-moz-placeholder {
        color: $white;
      }
    }
  }

  &_main {
    width: 100%;
    min-height: calc(100vh - 18rem);
    overflow: hidden;

    &_box {
      padding: 1rem 0;

      &:not(:last-child) {
        border-bottom: 1px solid $hr;
      }

      &_link {
        width: 100%;
        height: 3rem;
        display: flex;
        padding: 0 2rem;
        align-items: center;
        font-family: $roboto;
        font-size: 1.3rem;
        position: relative;

        &::before {
          content: "";
          width: 0%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: $green-light;
          transition: all 0.4s ease-in-out;
          z-index: -1;
        }

        &:hover::before {
          width: 100%;
        }

        & i {
          margin-right: 1rem;
          font-size: 1.2rem;
        }
      }

      &_dropdown {
        width: 100%;
        height: 3rem;
        display: flex;
        position: relative;
        padding: 0 2rem;
        cursor: pointer;
        color: $white;
        align-items: center;
        font-family: $roboto;
        font-size: 1.3rem;

        &::before {
          content: "";
          width: 0%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: $green-light;
          transition: all 0.4s ease-in-out;
          z-index: -1;
        }

        &:hover::before {
          width: 100%;
        }

        & i {
          margin-right: 1rem;
          font-size: 1.2rem;
        }

        &_inner {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: transparent;
        }
      }

      &_lists {
        width: 100%;
        height: 0rem;
        overflow: hidden;
        font-family: $roboto;
        background: rgba(40, 180, 133, 0.5);
        transition: height 0.4s ease-in-out;

        &_link {
          width: 100%;
          height: 3rem;
          padding: 0 2rem 0 4rem;
          display: flex;
          align-items: center;
          font-size: 1.2rem;
          position: relative;

          &::before {
            content: "";
            width: 0%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: $green-light;
            transition: all 0.4s ease-in-out;
            z-index: -1;
          }

          &:hover::before {
            width: 100%;
          }

          & i {
            margin-right: 1rem;
            font-size: 1rem;
          }
        }
      }
    }
  }

  &_footer {
    width: 100%;
    height: 8rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &_img {
      width: 2.8rem;
      height: 2.8rem;
    }
  }
}

// Media Queries
@media only screen and (max-width: 786px) {
  .side_navbar {
    transform: translateX(-24rem);
    opacity: 0;
  }
}
