@import url("https://fonts.googleapis.com/css?family=Kurale|Lato:300,400,700|Open+Sans:300,400,600,700,800|Raleway:300,400,500,600,700,800|Roboto:300,400,500,700,900");
* {
  padding: 0;
  margin: 0;
  user-select: none;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: "Kurale", serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: #747373;
  min-height: 100vh;
  padding-top: 4rem;
  background: #eeeeee; }

i {
  cursor: pointer; }

a {
  text-decoration: none;
  color: #ffffff; }

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0); }

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s; }

.ripple:active:after {
  transform: scale(0, 0);
  opacity: 0.3;
  transition: 0s; }

.app_root {
  width: calc(100% - 24rem);
  min-height: calc(100vh - 4rem);
  background: transparent;
  margin-left: 24rem;
  border-radius: 2px;
  overflow: hidden;
  padding: 2rem;
  padding-bottom: 0rem; }

@media only screen and (max-width: 786px) {
  .app_root {
    margin-left: 0;
    width: 100%; } }

.top_navbar_pro_icon {
  background: #e4e7ea;
  border-radius: 50%;
  width: 3.2rem !important;
  height: 3.2rem !important; }

.openSupporter {
  display: block !important; }

.top_navbar {
  width: 100%;
  height: 4rem;
  background: linear-gradient(to right, #55c57a, #7ed56f, #55c57a);
  padding: 0 2rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0; }
  .top_navbar_icon {
    width: 4rem;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    .top_navbar_icon_wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden; }
      .top_navbar_icon_wrapper_img {
        width: 1.6rem;
        height: 1.6rem;
        overflow: hidden;
        cursor: pointer; }
    .top_navbar_icon_supporter {
      position: absolute;
      top: 4.5rem;
      background: #55c57a;
      z-index: 1000;
      border-radius: 2px;
      overflow: hidden;
      right: 0.5rem;
      padding: 1rem;
      width: 20rem;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      display: none; }
      .top_navbar_icon_supporter_pro {
        width: 100%;
        height: auto;
        overflow: hidden;
        padding: 1rem 1rem 0rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .top_navbar_icon_supporter_pro_icon {
          width: 5rem;
          height: 5rem;
          background: #e4e7ea;
          border-radius: 50%;
          overflow: hidden;
          padding: 0.8rem;
          margin-bottom: 1rem; }
          .top_navbar_icon_supporter_pro_icon_img {
            width: 100%;
            height: 100%; }
        .top_navbar_icon_supporter_pro_name {
          font-size: 1.4rem;
          color: #ffffff;
          line-height: 1.4rem;
          margin-bottom: 1rem;
          font-weight: 400; }
        .top_navbar_icon_supporter_pro_email {
          font-size: 1.4rem;
          line-height: 1.8rem;
          width: 100%;
          word-wrap: break-word;
          color: #ffffff;
          margin-bottom: 1rem;
          text-align: center;
          font-weight: 400; }
      .top_navbar_icon_supporter_links {
        width: 100%;
        height: auto;
        overflow: hidden; }
        .top_navbar_icon_supporter_links_area {
          width: 100%;
          height: 3rem;
          padding: 0 1rem;
          display: inline-block;
          display: flex;
          align-items: center; }
          .top_navbar_icon_supporter_links_area i {
            margin-right: 1rem;
            font-size: 1.3rem; }
  .top_navbar_menu {
    width: auto;
    height: 100%;
    display: flex; }
